<div class="row m-5">
    <div class="col-12 text-right">
        <button routerLink="/home" class="btn btn-secondary">Back to Home</button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th><strong>Track</strong></th>
                    <th><strong>Song</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of albumsTracks">
                    <!-- <td><img [src]="track.href | noimages" class="img-thumb img-circle"></td> -->
                    <td>{{track.name}}</td>
                    <td><iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>