<div class="row m-5">
    <div class="col-1">
        <img src="assets/images/img/descarga.jpg" class="img-thumbnail img-circle">
        <div>
        </div>
    </div>
    <h2>Logged as {{userData.display_name}}</h2>
</div>

<div class="row m-5">
    <div class="col">
        <p><strong>Name </strong>{{userData.display_name}}</p>
        <p><strong>Birthdate </strong>{{userData.birthdate}}</p>
        <p><strong>Id </strong>{{userData.id}}</p>
        <p><strong>Email </strong>{{userData.email}}</p>
        <p><strong>Country </strong>{{userData.country}}</p>
        <p><strong>Product </strong>{{userData.product}}</p>
        <p><strong>Href </strong>{{userData.href}}</p>
    </div>
</div>