<div class="card-columns">
    <div *ngFor="let item of items" class="cards p-3">
        <div class="card">
            <img (click)="showArtist(item)" class="card-img-top fade puntero" [src]="item.images | noimages" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <div class="card-text">
                    <app-badge *ngFor="let artist of item.artists" [value]="artist.name"></app-badge>
                </div>
            </div>
        </div>
    </div>
</div>